html {
  height: 100%;
  overflow: hidden;
}
body {
  font-family: sans-serif;
  /* height: 100%;
  background: dodgerblue; */
}
.container-roulette {
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.roulette {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: white;
  border: 3px solid black;
  position: relative;
  transform: rotate(0deg);
  /* animation: rotation 3s ease-in-out forwards; */

}

.spin {
  /* animation: rotation ease-in-out forwards; 
   animation-duration: 3s;
   transform: rotate(270deg); */
}

.roulette.animate-1 {
  animation-delay: 0s;
}

.roulette.animate-2 {
  animation-delay: 0.5s;
}

.roulette.animate-3 {
  animation-delay: 1s;
}

.roulette.animate-4 {
  animation-delay: 1.5s;
}

.roulette.animate-5 {
  animation-delay: 2s;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* clip: rect(0px, 100px, 100px, 0px); */
}
.fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  clip: rect(0px, 150px, 150px, 0px);
  transform: rotate(90deg);
}
.fill_1 {
  transform: rotate(0deg);
}

.fill_1::after {
  background: lightcoral;
}
.fill_2 {
  transform: rotate(90deg);
}
.fill_2::after {
  background: lightgreen;
}
.fill_3 {
  transform: rotate(180deg);
}
.fill_3::after {
  background: lightseagreen;
}
.fill_4 {
  transform: rotate(270deg);
}
.fill_4::after {
  background: pink;
}
.fill_5 {
  transform: rotate(180deg);
}
.fill_5::after {
  background: lightpink;
}
.line {
  width: 300px;
  height: 2px;
  background: black;
  position: absolute;
  top: 150px;
  left: 0;
}
.line_1 {
  transform: rotate(0deg);
}
/* .line_2 {
  transform: rotate(90deg);
} */
.line_3 {
  transform: rotate(90deg);
}
/* .line_4 {
  transform: rotate(180deg);
} */
.content {
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  height: 280px;
  position: absolute;
  width: 100%;
  text-align: center;
}
.content_1 {
  transform: rotate(45deg);
}
.content_2 {
  transform: rotate(135deg);
}
.content_3 {
  transform: rotate(225deg);
}
.content_4 {
  transform: rotate(315deg);
}


.trigger {
  margin-top: 20px;
  font-size: 30px;
  border-radius: 15px;
  padding: 10px 20px;
  border: 3px solid black;
  cursor: pointer;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(7045deg);
  }
}
#triangle-up {
  background: transparent;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid red;
}

div[view_id="bet-1"] > div , div[view_id="bet-2"] >div, div[view_id="bet-3"] > div, div[view_id="bet-4"]>div {
  border: solid #31C5A3;
  font-size: 25px;
  text-align: center;
  background-color: #31C5A3;
  color: white !important;
} 
div[view_id = "rouletteLayout"], div[view_id = "rouletteLayout"]>div,  div[view_id="betNotiContent"] input{
  background-color:cyan;
}
div[view_id = "rouletteLayout"]>div {
  padding-top: 2%; 
}
div[view_id = "betNoti"] {
  background-color: #31C5A3 !important;
}
div[view_id="betNotiContent"] input {
  border: none;
  height: 20px;
}
div[view_id = "betNotiContent"] .webix_el_box {
  color: white;
  padding-left: 20px;
  height: max-content !important;
  padding-right: 10px
}
div[view_id = "roulette"] {
  margin-left: 17% !important;
  /* margin-top: 2% !important */
}
div[view_id = "betNotiContent"] > div > div {
  height: max-content !important;
}
 
div[view_id= "roulette"] {
  height: max-content !important;
}
div[view_id = "asset"] input{
  border: none !important;
}
div[view_id= "betNoti"] > div{
  padding-bottom: 10%;
}